$title-font: normal 24px/1.5 'Open Sans', sans-serif;
$cool-red: #F44336;
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2);

h1.title {
    font: $title-font;
    color: $cool-red;
}

div.container {
    width: 400px;
    height: 400px;

    animation-iteration-count: infinite;
    animation-name: nimation;
    animation-duration: 5s;
    animation-direction: normal;
    color: $cool-red;
    background: #F44336;
    box-shadow: $box-shadow-bottom-only;
}

@keyframes nimation {
    0% {
        animation-timing-function: cubic-bezier(.75, .25, .75, 1.25);
    }

    100% {
        transform: translateX(50%);
        transform: translateY(50%);
        animation-timing-function: cubic-bezier(.75, .25, .75, 1.25);
    }
}

div.core {
    position: absolute;
    border-radius: 50%;
    background-color: green;
    animation: nimation 1s alternate infinite;
    width: 150px;
    height: 150px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

div.electron {
    position:relative;
    display: inline-block;
    background-color: chartreuse;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: orbitX 5s alternate infinite;
}
div.ext{
    position: absolute;
    animation: orbitY 5s alternate infinite;
}

$x1 : 200;
$y1 : 300;
@keyframes orbitY{
    0%{
        transition-timing-function: ease-in-out;
        transform: translateY(400px);
        /*margin-left: $y1 px;*/
    }
    50%{

    }
    100%{

    }
}

@keyframes orbitX{
    to{
        transition-timing-function: ease-in-out;
        transform: translateX(700px);
        /*margin-left: $y1 px;*/
    }
}
